<div class="content-40mg">
<div class="container">
          <div class="row">
            <!-- Begin Login -->
            <div class="col-sm-6">
              <div class="panel no-margin panel-default">
                  <div class="panel-heading">Login to your account</div>
                  <div class="panel-body">
                      <form role="form">
                          <div class="form-group">
                              <div class="input-group">
                                  <div class="input-group-addon"><span style="font-size:9px;" class="ion-android-mail"></span></div>
                                  <input type="email" placeholder="Enter email" class="form-control">
                              </div>
                          </div>
                          <div class="form-group">
                            <div class="input-group">
                                  <div class="input-group-addon"><span class="ion-ios7-locked"></span></div>
                                <input type="password" placeholder="Password" id="exampleInputPassword2" class="form-control">
                              </div>
                          </div>
                          <div class="checkbox">
                              <label>
                                <input type="checkbox"> Remember me
                              </label>
                          </div>
                          <hr class="mb20 mt15">
                          <button class="btn btn-rw btn-primary" type="submit">Submit</button> &nbsp;&nbsp;&nbsp;<small><a href="#">Forgot your password?</a></small>
                      </form><!-- /form -->
                  </div><!-- /panel body -->
              </div><!-- /panel -->
            </div><!-- /column-->
            <!-- End Login -->

            <!-- Begin Register -->
            <div class="col-sm-6 mt30-xs">
              <div class="panel no-margin panel-default">
                  <div class="panel-heading">Create an account</div>
                  <div class="panel-body">
                      <form role="form">
                          <div class="form-group">
                              <div class="input-group">
                                  <div class="input-group-addon"><span style="font-size:9px;" class="ion-android-mail"></span></div>
                                  <input type="email" placeholder="Enter email" class="form-control">
                              </div>
                          </div>
                          <div class="form-group">
                            <div class="input-group">
                                  <div class="input-group-addon"><span class="ion-ios7-locked"></span></div>
                                <input type="password" placeholder="Password" id="exampleInputPassword3" class="form-control">
                              </div>
                          </div>
                          <div class="form-group">
                            <div class="input-group">
                                  <div class="input-group-addon"><span class="ion-ios7-locked"></span></div>
                                <input type="password" placeholder="Confirm Password" id="exampleInputPassword4" class="form-control">
                              </div>
                          </div>
                          <div class="checkbox">
                              <label>
                                <input type="checkbox"> I read the terms of service.
                              </label>
                          </div>
                          <hr class="mb20 mt20">
                          <div class="form-group">
                              <input type="email" placeholder="First Name" id="firstName" class="form-control">
                          </div>
                          <div class="form-group">
                              <input type="email" placeholder="Last Name" id="lastName" class="form-control">
                          </div>
                          <hr class="mt20 mb20">
                          <button class="btn btn-rw btn-primary" type="submit">Register</button> &nbsp;&nbsp;&nbsp;<small><a href="#">Terms of service</a></small>
                      </form><!-- /form -->
                  </div><!-- /panel body -->
              </div><!-- /panel -->
            </div><!-- /column-->
            <!-- End Register -->

          </div><!-- /row -->
        </div>
</div>
<!-- -->

<div class="container">
  <div class="row">
  <!-- Begin Login -->
    <div class="col-sm-6">
      <div class="panel no-margin panel-default">
        <div class="panel-heading">Login to your account</div>
          <div class="panel-body">
            <form role="form">
              <div class="form-group">

                <div class="input-group">
                  <div class="input-group-addon"><span style="font-size:9px;" class="ion-android-mail"></span></div>
                    <input type="email" placeholder="Enter email" class="form-control">
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><span class="ion-ios7-locked"></span></div>
                    <input type="password" placeholder="Password" id="exampleInputPassword2" class="form-control">
                  </div>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Remember me
                  </label>
                </div>

                <hr class="mb20 mt15">
                <button class="btn btn-rw btn-primary" type="submit">Log in</button> &nbsp;&nbsp;&nbsp;<small><a href="#">Forgot your password?</a></small>
            </form><!-- /form -->
        </div><!-- /panel body -->
      </div><!-- /panel -->
  </div><!-- /column-->
  <!-- End Login -->
</div> <!-- End Row -->
</div> <!-- End Container -->

<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: user_session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<!--
<%= render "users/shared/links" %>-->
