<h1>Edit User</h1>

<%= form_for(@full_profile) do |f| %>
  <% if @full_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@full_profile.errors.count, "error") %> prohibited this full_profile from being saved:</h2>


      <ul>
      <% @full_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :first_name %>:
  <%= f.text_field :first_name %><br />

  <%= f.label :last_name %>:
  <%= f.text_field :last_name %><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
