<%= form_for(@job_post) do |f| %>
  <% if @job_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_post.errors.count, "error") %> prohibited this job_post from being saved:</h2>

      <ul>
      <% @job_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
