<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job_post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job_post.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @job_post.date %>
</p>

<p>
  <strong>User::</strong>
  <%= @job_post.poster_name %>
</p>

<%= link_to 'Edit', edit_job_post_path(@job_post) %> |
<%= link_to 'Back', job_posts_path %>
