<!--Begin Header -->
<header>
<!-- Begin Top Bar -->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <!-- Address and Phone -->
                <div class="col-sm-7 hidden-xs">
                    <span class="ion-email phone-icon"></span>info@blacktechmecca.org
                </div>
                <!-- Social Buttons -->
                <div class="col-sm-5 text-right">
                                <ul class="topbar-list list-inline">
                                    <li>
                                        <a href="https://twitter.com/blacktechmecca" class="btn btn-social-icon btn-rw btn-primary btn-xs">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="https://instagram.com/blacktechmecca" class="btn btn-social-icon btn-rw btn-primary btn-xs">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        <a href="https://www.facebook.com/blacktechmecca" class="btn btn-social-icon btn-rw btn-primary btn-xs">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <% unless current_user.present? %>
                                        <li>
                                            <%= link_to 'Login', new_user_session_path %>
                                        </li>
                                        <li>
                                            <%= link_to 'Register', new_user_registration_path %>
                                        </li>
                                    <% else %>
                                        <li>
                                            <%= link_to 'Logout', destroy_user_session_path %>
                                        </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div><!--/row -->
                    </div><!--/container header -->
                </div><!--/top bar -->
                <!-- End Top Bar -->

                <!-- Begin Navigation -->
                <div class="navbar-wrapper">
                    <div class="navbar navbar-main" id="fixed-navbar">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 column-header">
                                    <div class="navbar-header">
                                        <!-- Brand -->
                                        <a href="/" class="navbar-brand">
                                            <span><img src="/assets/images/btm_logo.png"> Black Tech Mecca</span>
                                        </a>
                                        <!-- Mobile Navigation -->
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div><!-- /navbar header -->

                                    <!-- Main Navigation - Explained in Documentation -->
                                    <nav class="navbar-collapse collapse navHeaderCollapse" role="navigation">
                                        <ul class="nav navbar-nav navbar-right">
                                            <li> <%= link_to "Home", root_path %></li>
                                            <li> <%= link_to "About Us", about_path %></li>
                                            <li> <%= link_to "Blog", blogs_path %> </li>
                                            <li> <%= link_to "Contact Us", contact_path %></li>
                                        </ul><!-- /navbar right -->
                                    </nav><!-- /nav -->
                                </div>
                            </div>
                        </div><!-- /container header -->
                    </div><!-- /navbar -->
                </div><!-- /navbar wrapper -->
                <!-- End Navigation -->
</header><!-- /header-->
