<!DOCTYPE html>
<html>
<head>
  <title>BlackTechMecca | Inform, Inspire, Ignite</title>
	  <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tags %>
    <link href="/assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <%= render 'layouts/shim' %>
    <%= render 'layouts/stylesheets' %>
    <%= render 'layouts/analytics' %>
</head>
<body class="royal_preloader scrollreveal">

	<div id="royal_preloader"></div>
  	<!-- Begin Boxed or Fullwidth Layout -->
  <div id="bg-boxed">
  	<div class="boxed">
        <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
			<%= render 'layouts/header' %>
			<%= yield %>
			<%= render 'layouts/footer' %>
		 </div><!-- /boxed -->
  </div><!-- /bg boxed-->
 <!-- End Boxed or Fullwidth Layout -->

    <%= render 'layouts/javascripts' %>
</body>
</html>
